<div class="container custom-container-2">

    <!-- Show it when there is no employee 
    <div class="no-data text-center" *ngIf="Libros.length == 0">
      <p>There is no employee added yet!</p>
      <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
    </div>-->
  
    <!-- Employees list table, it hides when there is no employee -->
    <div *ngIf="Libros.length !== 0">
      <h3 class="mb-3 text-center">Catalogo de libros</h3>
  
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Titulo</th>
              <th scope="col">Cantidad disponible</th>
              <th scope="col">Precio</th>
              <th scope="col">Agregar al carrito</th>   
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let libror of Libros">
              <td>{{libror.imagen}}</td>
              <td>{{libror.titulo}}</td>
              <td>{{libror.cantidad}}</td>
              <td>{{libror.precio}}</td>
              <td>
                <!--<span class="edit" routerLink="/employee-edit/{{employee.id}}">Edit</span>
                <span class="delete" (click)="deleteEmployee(employee.id)">Delete</span>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>