<div class="container custom-container-2">
    <div *ngIf="Libros.length !== 0">
      <h3 class="mb-3 text-center">Catalogo de libros</h3>
      
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Titulo</th>
              <th scope="col">Cantidad disponible</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad a pedir</th>
              <th scope="col">Agregar al carrito</th>   
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let libro of Libros">
              <td><img class="img-responsive smaller" src="https://raw.githubusercontent.com/ricardoavendano/tienda-frontend/master/src/app/portada/{{libro.imagen}}"/></td>
              <td>{{libro.titulo}}</td>
              <td *ngIf="libro.cantidad == 0" >Agotado</td>
              <td *ngIf="libro.cantidad > 0" >{{libro.cantidad}}</td>
              <td>{{libro.precio}}</td>
              <td>
                <input *ngIf="libro.cantidad > 0" type="number" [(ngModel)]="libro.cantidadComprada" class="form-control" placeholder="cantidad" required>
              </td>
              <td>
                    <span class="btn btn-success btn-lg btn-block" (click)="agregarCompra(libro.idLibro, libro.precio, libro.cantidadComprada)">Agregar</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>